@import 'animations';

$righteous: 'Righteous', cursive;
$maven: 'Maven Pro', sans-serif;

$black: #0B0C10;
$lessblack: #1F2833;
$gray: #C5C6C7;
$mainblue: #66FCF1;
$secondaryblue: #45A29E;



html, body, p {
  font-family: $maven;
  margin: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $righteous;

}
.header {
  background: $lessblack;
  color:$mainblue;
  z-index: 10;
  color:black;
  @media(max-width:767px) {
    display: none;
  }
  .header-container {
    display: flex;
    max-width:1280px;
    margin:0 auto;
    padding:1rem 0;
    align-items: center;
    justify-content: space-between;
    @media(max-width:767px) {
      display: block;
    }
  }
}

.nav {
  @media(max-width:767px) {
    display: none;
  }
  a {
    font-weight: bold;
    font-size:1rem;
    margin:0 1rem;
    text-transform: uppercase;
    color:white;
    text-decoration:none;
    border:3px solid $secondaryblue;
    background: $secondaryblue;
    padding:.5rem;
    display: inline-block;
  }
}
.mobile-nav {
  display: none;
  @media(max-width:767px) {
    display: block;
    background: $lessblack;
    position: relative;
    z-index: 10;
    padding: 1rem 0;
  }
  /* Position and sizing of burger button */
  a {
    font-weight: bold;
    font-size:1.5rem;
    margin:1rem 0;
    text-transform: uppercase;
    color:white;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top:1rem;
    border-bottom: 2px solid white;
    &:first-child {
      border-top:2px solid white;

    }
  }
  .bm-burger-button {
    position: relative;
    width: 15px;
    height: 15px;
    margin-left: 2rem;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: $mainblue;
  }

  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: $mainblue;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: $black;
  }

  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    top:0;
  }

  /* General sidebar styles */
  .bm-menu {
    background: $secondaryblue;
    padding: 2.5em .5em 0;
    font-size: 1.15em;
    height: 100vh !important;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: $secondaryblue;
    padding: 0.8em;
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: 0 !important;
  }
}

.copy {
  text-transform: uppercase;
  font-size: 4.5em;
  font-weight: 700;
  font-style: italic;
  letter-spacing: .3em;
  color: $mainblue;
  @media(max-width:767px) {
    font-size:2.5rem;
  }
  .copy-letter {
    display: inline-block;
  }
}
.copy-last {
  margin-left: 2rem;
}

.top-bar, .bottom-bar {
  border-bottom:8px solid $mainblue;
  padding: .5rem 0;
  width:200px;
  margin: 1rem auto;
}

.full-height-section {
  position: relative;
  background: $black;
  color:$mainblue;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  @media(max-width:767px) {
    height: auto;
    padding:2rem 0;
  }
  &.dog-bg {
    background: center/cover no-repeat url('../images/dog-bg.jpg');
  }
  .container-wrapper {
    max-width: 960px;
    margin:0 auto;
    color:white;
    background-color: $secondaryblue;
    padding:2rem;
  }
  .secondary-header {
    text-transform: uppercase;
    font-size:3rem;
    font-weight: bold;
  }
  .third-header {
    text-transform: uppercase;
    font-size:2.5rem;
    font-weight: bold;
    color:$gray;
    @media(max-width:767px) {
      margin:1rem 0;
      font-size:1rem;
    }
  }
  &.gray-bg {
    background: $gray;
  }
  .content {

  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    columns:3;
    @media(max-width:767px) {
      columns:1;
    }
  }
  li{
    text-decoration: none;
    color: white;
    display: block;
    padding:.5rem;
  }

}
#portfolio {
  height: auto;
  padding:3rem 0;
  .third-header {
    color:$black;
    text-transform: none;
    font-size:1.5rem;
  }
}
.portfolio-grid {
  .portfolio-link {
    display: inline-block;
    width: 50%;
    @media(max-width:767px) {
      width: 100%;
    }
    .portfolio-link-inner {
      height: 450px;
      @media(max-width:767px) {
        height: 300px;
      }
    }
  }
}

.top-left-abs-pos {
  position: absolute;
  top:15%;
  left:20%;
  @media(max-width:767px) {
    position: relative;
    top:auto;
    left:auto;
  }
}
.bottom-right-abs-pos {
  position: absolute;
  top:45%;
  right:10%;
  @media(max-width:767px) {
    position: relative;
    top:auto;
    right:auto;
  }
}
.bottom-left-abs-pos {
  position: absolute;
  bottom:15%;
  left:25%;
  @media(max-width:767px) {
    position: relative;
    bottom: auto;
    left:auto;
  }
}

.footer {
  height: 100px;
  background: $lessblack;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .footer-text {
    text-transform: uppercase;
    color:white;
    font-weight: bold;
    text-align: center;
    a {
      color:white;

    }
  }
}
$animtimer: 4s;
.playarea {
  svg {
    border:3px solid #eee;
    display:block;
    margin:1em auto;
    max-width: 960px;
    max-height: 300px;
  }
  p {
    color:#aaa;
    text-align: center;
    margin: 2em 0;
  }

  .orangecircle {
    fill: orange;
    stroke: orange;
    stroke-width: 1;
    stroke-miterlimit: 10;
    animation: moveAcross $animtimer infinite linear;


  }
  .rectblue {
    fill: blue;
    stroke: blue;
    stroke-width: 1;
    stroke-miterlimit: 10;
    animation: moveAcross $animtimer 1s infinite linear;

  }
}
